<div>
    <p>dashboard pages!</p>
<!--    <app-multi-slider [min]="0" [max]="800"></app-multi-slider>-->
</div>
<!--<p style="height: 0;border: none;clear: both;"></p>-->
<!--<div nz-row nzGutter="24" style="height: 400px;">-->
<!--    <div nz-col nzSpan="24" cdkDropList cdkDropListOrientation="horizontal" class="example-list" style="height: 48px;background: #ed6a0c;padding: 0px;" (cdkDropListDropped)="drop($event)">-->
<!--        <ng-container *ngFor="let timePeriod of timePeriods">-->
<!--            <nz-input-group [nzAddOnAfter]="dragTemplate" cdkDrag cdkDragLockAxis="x" class="example-box">-->
<!--                <input nz-input [ngModel]="timePeriod" type="text">-->
<!--                <div class="example-handle" cdkDragHandle>-->
<!--                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">-->
<!--                        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>-->
<!--                        <path d="M0 0h24v24H0z" fill="none"></path>-->
<!--                    </svg>-->
<!--                </div>-->
<!--            </nz-input-group>-->
<!--        </ng-container>-->
<!--        <ng-template #dragTemplate></ng-template>-->
<!--    </div>-->
<!--    <div nz-col nzSpan="6" style="background: #0bb8cc;height: 100%;"></div>-->
<!--    <div nz-col nzSpan="6" style="background: #00a690;height: 100%;"></div>-->
<!--    <div nz-col nzSpan="6" style="background: #4B946A;height: 100%;"></div>-->
<!--    <div nz-col nzSpan="6" style="background: #8bd9c4;height: 100%;"></div>-->
<!--</div>-->